<a href="https://colab.research.google.com/github/AadarshS9/Computational-Statistics-S3/blob/main/AdditionalPrograms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#create a simple pandas series from a list
import pandas as pd
a=[1,7,2]
myvar=pd.Series(a)
print(myvar)
print(myvar[0])
print(myvar[1])
print(myvar[2])

0    1
1    7
2    2
dtype: int64
1
7
2

In [ ]:
#create a label for series
import pandas as pd
a=[1,7,2]
myvar=pd.Series(a,index=["x","y","z"])
print(myvar)

x    1
y    7
z    2
dtype: int64

In [ ]:
#create a simple panda series from a dictionary
import pandas as pd
calories={"day1": 420, "day2": 380,"day3": 390}
myvar=pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [ ]:
#create a series using only selected data from dictionary
import pandas as pd
calories={"day1": 420, "day2": 380,"day3": 390,"day4": 400,"day5": 370,"day6": 369,"day7": 450,"day8": 360,"day9": 410,"day10": 444}
myvar=pd.Series(calories,index=["day2","day4","day6","day8","day10"])
print(myvar)

day2     380
day4     400
day6     369
day8     360
day10    444
dtype: int64

In [ ]:
#create a dataframe from two series
import pandas as pd
data={
    "calories":[420,380,390],
    "duration":[50,40,45]
}
myvar=pd.DataFrame(data)
print(myvar)
print("\n")
print(myvar.loc[0])

   calories  duration
0       420        50
1       380        40
2       390        45


calories    420
duration     50
Name: 0, dtype: int64

In [ ]:
#add a list of names to give each row a name
import pandas as pd
data={
    "calories":[420,380,390],
    "duration":[50,40,45]
}
df=pd.DataFrame(data,index=["day1","day2","day3"])
print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [ ]:
#create dataframe using csv file
import pandas as pd
df=pd.read_csv("data.csv")
print(df)

In [ ]:
#merge two lists
dict_1={1:'a',2:'b'}
dict_2={3:'c',4:'d'}
print({**dict_1,**dict_2})

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [ ]:
#merge two lists using copy and update
dict_1={1:'a',2:'b'}
dict_2={3:'c',4:'d'}
dict_3=dict_2.copy()
dict_3.update(dict_1)
print(dict_3)

{3: 'c', 4: 'd', 1: 'a', 2: 'b'}

In [ ]:
#lists enumeration
my_list=[21,44,35,11]
for index,val in enumerate(my_list):
  print(index,val)

0 21
1 44
2 35
3 11

In [ ]:
#lists enumeration with starting point
my_list=[21,44,35,11]
for index,val in enumerate(my_list,start=1):
  print(index,val)

1 21
2 44
3 35
4 11

In [ ]:
#slicing a list
my_list=[1,2,3,4,5,6,7,8,9,10]
print(my_list[:])
print(my_list[5:])
print(my_list[:4])
print(my_list[::2])
print(my_list[::-2])
print(my_list[2:8])
print(my_list[1::3])
print(my_list[:9:2])
print(my_list[1:6:2])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[6, 7, 8, 9, 10]
[1, 2, 3, 4]
[1, 3, 5, 7, 9]
[10, 8, 6, 4, 2]
[3, 4, 5, 6, 7, 8]
[2, 5, 8]
[1, 3, 5, 7, 9]
[2, 4, 6]