<a href="https://colab.research.google.com/github/AadarshS9/Computational-Statistics-S3/blob/main/PandasDataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("1.Write a Pandas program to add, subtract,multiple and divide two Pandas Series")
import pandas as pd
a=[1,2,3,4,5]
b=[6,7,8,9,10]
ps1=pd.Series(a)
ps2=pd.Series(b)
print("Panda series 1:")
print(a)
print("\n")
print("Panda series 2:")
print(b)
print("\n")
ds = ps1 + ps2
print("Addition of two panda series:")
print(ds)
print("\n")
print("Subtraction of two panda series:")
ds = ps1 - ps2
print(ds)
print("\n")
print("Multiplication of two panda series:")
ds = ps1 * ps2
print(ds)
print("\n")
print("Division of two panda series:")
ds = ps1 / ps2
print(ds)

1.Write a Pandas program to add, subtract,multiple and divide two Pandas Series.
Panda series 1:
[1, 2, 3, 4, 5]


Panda series 2:
[6, 7, 8, 9, 10]


Addition of two panda series:
0     7
1     9
2    11
3    13
4    15
dtype: int64


Subtraction of two panda series:
0   -5
1   -5
2   -5
3   -5
4   -5
dtype: int64


Multiplication of two panda series:
0     6
1    14
2    24
3    36
4    50
dtype: int64


Division of two panda series:
0    0.166667
1    0.285714
2    0.375000
3    0.444444
4    0.500000
dtype: float64

In [ ]:
print("2.Write a Pandas program to compare the elements of the two Pandas Series")
import pandas as pd
a=[1,2,3,11,5]
b=[6,2,8,9,10]
c=[96,97,98,99,100]
d=[96,97,98,99,100]
ps1=pd.Series(a)
ps2=pd.Series(b)
ps3=pd.Series(c)
ps4=pd.Series(d)
print("Panda series 1:")
print(a)
print("\n")
print("Panda series 2:")
print(b)
print("\n")
print("Panda series 3:")
print(c)
print("\n")
print("Panda series 4:")
print(d)
print("\n")
print("Comparison:")
print(" Series 1 elements Equal Series 2 elements:")
print(ps1 == ps2)
print("\n")
print(" Series 1 elements Greater than Series 2 elements:")
print(ps1 > ps2)
print("\n")
print(" Series 1 elements Less than Series 2 elements:")
print(ps1 < ps2)
print("\n")
print("\nComparing Series 3 and 4 using function:")
result = ps3.equals(other=ps4)
print(result)

2.Write a Pandas program to compare the elements of the two Pandas Series
Panda series 1:
[1, 2, 3, 11, 5]


Panda series 2:
[6, 2, 8, 9, 10]


Panda series 3:
[96, 97, 98, 99, 100]


Panda series 4:
[96, 97, 98, 99, 100]


Comparison:
 Series 1 elements Equal Series 2 elements:
0    False
1     True
2    False
3    False
4    False
dtype: bool


 Series 1 elements Greater than Series 2 elements:
0    False
1    False
2    False
3     True
4    False
dtype: bool


 Series 1 elements Less than Series 2 elements:
0     True
1    False
2     True
3    False
4     True
dtype: bool



Comparing Series 3 and 4 using function:
True

In [ ]:
print("3.Write a Pandas program to convert a dictionary to a Pandas series.")
import pandas as pd
dict={"U2109001": "Aadarsh", "U2109002": " Abhay  ","U2109003": "Ajil   "}
print(dict)
print("\n")
myvar=pd.Series(dict)
print(myvar)

3.Write a Pandas program to convert a dictionary to a Pandas series.
{'U2109001': 'Aadarsh', 'U2109002': ' Abhay  ', 'U2109003': 'Ajil   '}


U2109001     Aadarsh
U2109002     Abhay
U2109003     Ajil
dtype: object

In [ ]:
print("4.Write a Pandas program to sort a given Series.")
import pandas as pd
sval=[100, 69, 333, 369, 11]
sort=pd.Series(sval)
print("Original Data Series:")
print(sort)
print("\n")
print("Sorted Data Series:")
sorted = pd.Series(sort).sort_values()
print(sorted)

4.Write a Pandas program to sort a given Series.
Original Data Series:
0    100
1     69
2    333
3    369
4     11
dtype: int64


Sorted Data Series:
4     11
1     69
0    100
2    333
3    369
dtype: int64

In [ ]:
print("5.Write a Pandas program to create a subset of a given series based on value and condition.")
import pandas as pd
uni=[0, 1,2,3,4,5,6,7,8,9,10]
psuni=pd.Series(uni)
print("Original Data Series:")
print(psuni)
print("\nSubset of the above Data Series:")
cond = 6
subset = psuni[psuni < cond]
print(subset)

5.Write a Pandas program to create a subset of a given series based on value and condition.
Original Data Series:
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64

Subset of the above Data Series:
0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [ ]:
print("6.Write a Pandas program to create the mean and standard deviation of the data of a given Series.")
import pandas as pd
stval=[0, 1,2,3,4,5,6,7,8,9,10]
stats=pd.Series(stval)
print("Original Data Series:")
print(stats)
print("\nMean of the said Data Series:")
print(stats.mean())
print("\nStandard deviation of the said Data Series:")
print(stats.std())

6.Write a Pandas program to create the mean and standard deviation of the data of a given Series.
Original Data Series:
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64

Mean of the said Data Series:
5.0

Standard deviation of the said Data Series:
3.3166247903554

In [ ]:
print("7.Write a Pandas program to compute the minimum, median,mean and maximum of a given series.")
import pandas as pd
staval=[9,11,13,15,21,108,81,1008,7]
staats=pd.Series(staval)
print("Original Data Series:")
print(staats)
print("\nMinimum of the said Data Series:")
print(staats.min())
print("\nMedian of the said Data Series:")
print(staats.median())
print("\nMean of the said Data Series:")
print(staats.mean())
print("\nMaximum of the said Data Series:")
print(staats.max())

7.Write a Pandas program to compute the minimum, median,mean and maximum of a given series.
Original Data Series:
0       9
1      11
2      13
3      15
4      21
5     108
6      81
7    1008
8       7
dtype: int64

Minimum of the said Data Series:
7

Median of the said Data Series:
15.0

Mean of the said Data Series:
141.44444444444446

Maximum of the said Data Series:
1008

In [ ]:
print("8.Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.")
import pandas as pd
num_series = pd.Series([9,11,81,6,81,3,81,1008,6,108,81,108,108])
print("Original Series:")
print(num_series)
print("\nMost frequent value:\n", num_series.mode())
print("\nFrequency count:\n", num_series.value_counts())
result = num_series[~num_series.isin(num_series.value_counts().index[:1])] = 'Other'
print("\nReplaced series")
print(num_series)

8.Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.
Original Series:
0        9
1       11
2       81
3        6
4       81
5        3
6       81
7     1008
8        6
9      108
10      81
11     108
12     108
dtype: int64

Most frequent value:
 0    81
dtype: int64

Frequency count:
 81      4
108     3
6       2
9       1
11      1
3       1
1008    1
dtype: int64

Replaced series
0     Other
1     Other
2        81
3     Other
4        81
5     Other
6        81
7     Other
8     Other
9     Other
10       81
11    Other
12    Other
dtype: object

In [ ]:
print("9.Write a Pandas program to convert the first and last character of each word to upper case in each word of a given series.")
import pandas as pd
supper = pd.Series(['aadarsh', 'racecar', 'benz', 'toyota'])
print("Original Series:")
print(supper)
mod = supper.map(lambda x: x[0].upper() + x[1:-1] + x[-1].upper())
print("\nConverted series:")
print(mod)

9.Write a Pandas program to convert the first and last character of each word to upper case in each word of a given series.
Original Series:
0    aadarsh
1    racecar
2       benz
3     toyota
dtype: object

Converted series:
0    AadarsH
1    RacecaR
2       BenZ
3     ToyotA
dtype: object

In [ ]:
print("10.Write a Pandas program to calculate the number of characters in each word in a given series.")
import pandas as pd
char = pd.Series(['aadarsh', 'rset', 'colab', 'characters'])
print("Original Series:")
print(char)
convert = char.map(lambda x: len(x))
print("\nNumber of characters in each word of series:")
print(convert)

10.Write a Pandas program to calculate the number of characters in each word in a given series.
Original Series:
0       aadarsh
1          rset
2         colab
3    characters
dtype: object

Number of characters in each word of series:
0     7
1     4
2     5
3    10
dtype: int64