<a href="https://colab.research.google.com/github/AadarshS9/Computational-Statistics-S3/blob/main/TrialD1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("Hello World\n")

a = ['cat','dawg','bunda']
for x in a:  print (x, len(x))

b = 23*3
print(b)
print("\n")
list = []
list = ['rah','oeuf',6]
print(list)
print("\n")
tuple = ('bla','blah',3)
print (tuple)
print("\n")

Hello World

cat 3
dawg 4
bunda 5
69


['rah', 'oeuf', 6]


('bla', 'blah', 3)

In [ ]:
print('First program in python\n')

n=int(input("Enter number: "))
sum=0
fact=1
#loop from 1 to n
for num in range(1,n+1,1):
     sum=sum+num
     fact=fact*num
print("Sum of first",n,"numbers is:",sum)
print("Factorial of first",n,"numbers is:",fact)
average=sum/num
print("Average of ",n," numbers is:",average)

First program in python

Enter number: 11
Sum of first 11 numbers is: 66
Factorial of first 11 numbers is: 39916800
Average of  11  numbers is: 6.0

In [ ]:
r=int(input("Enter range limit: "))
for i in range(r+1): print(i)

Enter range limit: 5
0
1
2
3
4
5

In [ ]:
h=int(input("Enter upper limit: "))
l=int(input("Enter lower limit: "))
for i in reversed(range(l,h+1)): print(i)

Enter upper limit: 21
Enter lower limit: 10
21
20
19
18
17
16
15
14
13
12
11
10

In [ ]:
#list with int and floats
num_list=[10,20.5,30,45.5,50]
int[numlist]=(10,205,30,455,50)
print("Numbers in list are: ",num_list)
res1=0
for num in num_list:
    res1+=num
avg1=res1/len(num_list)
max1=max(numlist))
max

print("Sum of numbers in list is: ",res1)
print("Average of numbers in list is: ",avg1)
print("Maximum value of numbers in list is: ",max1)

SyntaxError: ignored

In [ ]:
mult=int(input("Enter value to multiply: "))
lim=int(input("Enter multiplication limit: "))
for i in range(1,lim+1):
  print(mult,"x",i,"is: ",mult*i)

Enter value to multiply: 6
Enter multiplication limit: 12
6 x 1 is:  6
6 x 2 is:  12
6 x 3 is:  18
6 x 4 is:  24
6 x 5 is:  30
6 x 6 is:  36
6 x 7 is:  42
6 x 8 is:  48
6 x 9 is:  54
6 x 10 is:  60
6 x 11 is:  66
6 x 12 is:  72

In [ ]:
n=20
total_numbers=n
sum=0
while n>=0:
    sum+=n
    n-=1
print("sum = ",sum)
average=sum/total_numbers
print("average = ",average)

sum =  210
average =  10.5

In [ ]:
num1=0
num2=1
print("Fibonacci sequence: ")
for i in range(10):
    print(num1)
    res=num1+num2
    num1=num2
    num2=res

Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

In [ ]:
num=int(input("Enter value to find factorial: "))
factorial=1
if num<0:
    print("Factorial does not exist for negative numbers.")
elif num==0:
    print("The factorial of 0 is 1")
else:
  for i in range(1,num+1):
      fact=factorial*i
      factorial=fact
  print(fact)

Enter value to find factorial: 5
120